/* Purchase.css */
.purchase-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.purchase-tabs {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-right: 100px;
}

.purchase-table-container {
  margin-top: 20px;
  margin-right: 20px;
}

.top-header {
  border-bottom: 1px solid #e0e0e0;
}

.MyBoldArrowBackIcon {
  font-weight: bolder;
  font-size: 12px;
}

.purchase-menu-button {
  font-weight: bold;
  color: #597C26;
}

.menuContainer .menuItem {
  color: #597C26;
}

.table{
  width: 90%;
}