@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.UploadImage-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Inter", sans-serif;
}

.UploadImage-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UploadImage-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.UploadImage-header-left {
  flex: 0.98;
  display: flex;
  justify-content: center;
  align-items: center;
}
.UploadImage-header-right {
  flex: 0.02;
}

.UploadImage-title {
  margin: 0;
  font-size: 1.5rem;
  color: #2f2f2f;
}

.divider-upload {
  width: 100%;
  border: 0.1px solid #eeeeee;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #2f2f2f;
}

select,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #597c26;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.close-button-UploadImage {
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.drag-drop-area {
  width: 97%;
  padding: 30px;
  border: 2px dashed #597c26;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #2f2f2f;
  height: 93px;
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-drop-area:hover {
  background-color: #f1f1f1;
}

/* Media Queries with Max-width*/
@media (max-width: 768px) {
  .UploadImage-backdrop {
    padding: 20px;
  }
  .UploadImage-content {
    padding: 20px;
    width: 90%;
  }
  .UploadImage-header-left h2 {
    margin-left: 30px;
  }

  .close-button-UploadImage {
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
  }

  .drag-drop-area {
    margin-top: 30px;
    width: 95%;
  }
}

/* Old Media Queries for Responsiveness */
/*
@media (max-width: 768px) {
  .UploadImage-content {
    padding: 20px;
    width: 90%;
  }

  .close-button {
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
  }

  .drag-drop-area {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .UploadImage-content {
    padding: 15px;
    width: 95%;
  }

  .close-button {
    top: 5px;
    right: 5px;
    font-size: 1rem;
  }

  .addcompany-title {
    font-size: 1.2rem;
  }

  .drag-drop-area {
    height: 100px;
    padding: 10px;
  }
}
*/
