@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*{
  font-family: "Inter", sans-serif;
}

.top-bar{
  display: flex;
  align-items: center;
  padding: 5px;
}

.status-text {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold !important;
  color: #597C26;
  margin-left: 5px !important;;
}

.arrow{
  stroke-width: 3px;
  color: #597C26;
  size: 48px;
}

.SaleEditAndView-container {
    display: flex;
    flex-direction: row; /* Ensure cards are laid out horizontally */
    width: 100%; /* Full width of the viewport */
    margin: 0; /* Ensure there's no additional margin */
    padding: 0;
    gap: 5px;
  }
  
  .SaleEditAndView-container-first {
    flex: 1;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
  }
  .SaleEditAndView-container-second {
    flex: 0.8;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    overflow: hidden;
  }
  