/* Sale.css */
.sale-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .sale-tabs {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-right: 100px;
  }
  
  .sale-table-container {
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .top-header {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .MyBoldArrowBackIcon {
    font-weight: bolder;
    font-size: 12px;
  }
  
  .sale-menu-button {
    font-weight: bold;
    color: #597C26;
  }
  
  .menuContainer .menuItem {
    color: #597C26;
  }
  
  .table{
    width: 90%;
  }
  
  .sale-menu-button {
    font-weight: bolder !important;
    color: #597C26 !important;
  }
  
  .MyBoldArrowBackIcon {
    font-weight: bolder !important;
    color: #597C26 !important;
  }
  