.topbar {
  display: flex;
  justify-content: flex-end;
  background-color: #2f2f2f;
  padding: 10px;
  color: white;
  height: 50px;
}

.topbar-button {
  margin-left: 10px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Media Queries for Iphone 430px */
@media screen and (max-width: 768px) {
  .topbar {
    justify-content: flex-start;
  }
}
